
/* banner */
.banner {background-color: #44906F
; height:120px; padding: 20px 0 0 0 ;}

h1{color: white; 
  text-align: center; 
  font-family: "Bebas Neue", sans-serif;  
   font-size: 75px; 
}
h2{  font-family: "Bebas Neue", sans-serif;
}
h3{  font-family: "Bebas Neue", sans-serif;
}
body{ font-family: "Archivo", sans-serif;
 background-color: #EDF5F2;
 color: #3C4E47;
}
a{color: #36BE83}

/* slides */
.orbit{ width:900px; }

/* map */
.map {float: right; 
  padding: 10px 0 0 20px; 
  text-align: center; color: #486F60 }

/* copyright footer */
.footerBar {
background-color:#416C59;
color:#fff;
padding:20px;
text-align:center;
margin:30px 0 0 0;
}
a.footerBar {
  color:#00aca1;
}
a.footerBar:hover {
  color:#666;
}
